alembic==1.18.4
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
APScheduler==3.11.2
asyncpg==0.31.0
Authlib==1.6.9
bcrypt==4.0.1
black==26.1.0
blinker==1.9.0
certifi==2026.1.4
cffi==2.0.0
cfgv==3.5.0
click==8.3.1
colorama==0.4.6
contourpy==1.3.3
coverage==7.13.4
cryptography==46.0.5
cycler==0.12.1
distlib==0.4.0
dkimpy==1.1.8
dnspython==2.8.0
ecdsa==0.19.1
email-validator==2.3.0
emails==1.1.1
fastapi==0.129.0
filelock==3.24.0
flake8==7.3.0
Flask==3.1.2
fonttools==4.61.0
greenlet==3.3.1
h11==0.16.0
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
identify==2.6.16
idna==3.11
iniconfig==2.3.0
isort==7.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
librt==0.8.0
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.7
mccabe==0.7.0
MyApplication==0.1.0
mypy==1.19.1
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pathspec==1.0.4
pillow==12.0.0
platformdirs==4.9.1
pluggy==1.6.0
pre_commit==4.5.1
psycopg2-binary==2.9.11
puremagic==2.1.1
pyasn1==0.6.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pyflakes==3.4.0
Pygments==2.19.2
pyotp==2.9.0
pyparsing==3.2.5
pytest==9.0.2
pytest-asyncio==1.3.0
pytest-cov==7.0.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-http-client==3.3.7
python-jose==3.5.0
python-multipart==0.0.22
pytokens==0.4.1
pytz==2025.2
PyYAML==6.0.3
rsa==4.9.1
ruff==0.15.1
scikit-learn==1.8.0
scipy==1.16.3
sendgrid==6.12.5
six==1.17.0
SQLAlchemy==2.0.46
starlette==0.52.1
threadpoolctl==3.6.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
tzlocal==5.3.1
uvicorn==0.40.0
virtualenv==20.36.1
watchfiles==1.1.1
websockets==16.0
Werkzeug==3.1.5
reportlab>=4.0.0
psycopg2-binary>=2.9.0
